<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cover.title %>
</p>

<p>
  <strong>Book ID:</strong>
  <%= @cover.book_id %>
</p>

 <% if @cover.photos.attached? %>
    <p><%= image_tag @cover.photos %></p>
<% end %>

<%= link_to 'Add image', new_image_url %>
<%= link_to 'Edit', edit_cover_path(@cover) %> |
<%= link_to 'Back', books_path %>
