<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @page.number %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<p>
  <strong>Book:</strong>
  <%= Book.find(@page.book_id).cover.title %>
</p>

 <% if @page.photos.attached? %>
  <td><%= image_tag @page.photos %></td>
<% end %>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
